apiVersion: apps/v1
kind: Deployment
metadata:
  name: tictac-deployment-v1
  namespace: webapps
spec:
  replicas: 2
  strategy:
    type: RollingUpdate
  selector:
    matchLabels:
      app: tic-tac-app
      version: v1
  template:
    metadata:
      labels:
        app: tic-tac-app
        version: v1
    spec:
      containers:
        - name: tic-tac-container
          image: 191080270307.dkr.ecr.ap-south-1.amazonaws.com/tictacapp:v1
          imagePullPolicy: Always
          ports:
            - containerPort: 80
